.navbar-brand > div {
    color: #FFFFFF;
}
.nav-item .nav-link {
    color: #FFFFFF !important;
    margin-right: 1rem;
    font-weight: 500;
}
.nav-item .nav-link:hover {
    font-size: 17px;
}

.quantity {
    width: 80px;
}
.section {
    min-height: 75vh;
}
.input-code {
    padding: 5px;
    border-radius: 10px;
}

.bg-primary, .btn-primary {
    background: #fd7e14 !important;
}
.text-primary {
    background: #fd7e14 !important;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #000;
}
.table thead th {
    border-bottom: 2px solid #000;
}

#background {
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
}

.capa {
    background-color: rgba(37, 37, 37, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.form-login {
    border-radius: 10px;
    background: #000000c4;
    margin: 7% auto;
}

.img-login {
    height: 6rem;
}

.text-orange {
    color: #fd7e14;
}